/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Definição das cores */
:root {
  --header-color: #141F42;
  --primary-color: #17244C;
  --tertiary-color: #4959EB;
  --font-color: #FCAC00;
  --primary-font: "Open Sans", sans-serif;
}

body{
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: #FFFFFF;
} 

  /* Estilos de cabeçalho */
header {
  background-color: var(--header-color);
  color: var(--tertiary-color);
  padding: 1em;

  
}

 /* Estilos do Nav */ 
nav {
  text-align: right;
  margin-top: 10px;
}

.headera {
  font-size: 150%;
  padding-right: 5%;
  font-weight: bolder;
  text-decoration: none;
  color: var(--font-color);
};
  
  /* Estilos de seção */
#home {
  background-color: white;
position: relative;
}

#homejpg {
  height: 50vh;
  position: relative;
  top: 0vh;
  left: 60%;

}
  
  /* Estilos de rodapé */
  footer {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1em;
  }
